/* ********************** font ********************** */
@font-face {
    font-family: "IRANSANS";
    src: url("/static/admin_asset/font/IRANSANSWEB.TTF");
}

/* ********************** scrollbar ********************** */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #343a40;
}

::-webkit-scrollbar-thumb:hover {
    background: #1f2226;
}

/* ********************** select 2 ********************** */
.select2-container {
    width: 95% !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #3498db !important;
    border-color: #3498db !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff !important;
    /*border-color: #fff !important;*/
    margin: 0 !important;
    border-color: #3498db !important;
    background: rgba(0, 0, 0, 0.1) !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display {
    padding-left: 10px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background: rgba(0, 0, 0, 0.3) !important;
}

/* ********************** admin ********************** */
img.elevation-3 {
    box-shadow: none !important;
}

.jazzmin-login-page img {
    width: 285px;
}

/* ********************** input ********************** */
input[type='file'] {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dee2e6;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-overflow: ellipsis;
    white-space: pre;
    writing-mode: horizontal-tb !important;
    text-align: start !important;
    margin: 0;
    font-family: inherit;
}

/* ********************** rtl ********************** */
html[dir='rtl'] .modal-header .close {
    margin: -1rem auto -1rem -1rem !important;
}

html body, html .h1, html .h2, html .h3, html .h4, html .h5, html .h6, html h1, html h2, html h3, html h4, html h5, html h6 {
    font-family: "IRANSANS", serif !important;
}

html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-left: 0 !important;
    margin-right: 250px !important;
}

html[dir='rtl'] .main-sidebar {
    left: auto;
    right: 0;
}

html[dir='rtl'] .sidebar-collapse .main-sidebar, html[dir='rtl'] .sidebar-collapse .main-sidebar::before {
    margin-left: 0;
    margin-right: -250px;
}

html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, html[dir='rtl'] body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header, html[dir='rtl'] body.sidebar-closed.sidebar-collapse {
    margin-right: 0 !important;
}

@media (min-width: 1023px) {
    html[dir='rtl'] .wrapper {
        margin-right: 250px !important;
    }
}

/*html[dir="rtl"] #jazzy-navbar, html[dir="rtl"] body > div > div, html[dir='rtl'] footer.main-footer {*/
/*    margin-left: 0 !important;*/
/*    margin-right: 250px !important;*/
/*}*/

/*html[dir='rtl'] .main-sidebar{*/
/*    left: auto;*/
/*    right: 0;*/
/*}*/

/*html[dir='rtl'] body.sidebar-closed #jazzy-navbar, html[dir='rtl'] body.sidebar-closed html[dir="rtl"] body > div > div, html[dir='rtl'] footer.main-footer {*/
/*    margin-right: 0;*/
/*}*/

/*html[dir='rtl'] body.sidebar-open #jazzy-navbar, html[dir='rtl'] body.sidebar-open html[dir="rtl"] body > div > div, html[dir='rtl'] footer.main-footer {*/
/*    margin-right: 250px !important;*/
/*}*/

/*html[dir='rtl'] .main-sidebar {*/
/*    transform: translateX(100%) !important;*/
/*}*/

/*html[dir='rtl'] body.sidebar-collapse .main-sidebar{*/
/*    transform: translateX(0) !important;*/
/*}*/

/*html[dir='rtl'] body.jazzmin-login-page > div > div {*/
/*    margin: 0 !important;*/
/*}*/

/*html[dir='rtl'] #jazzy-sidebar {*/
/*    right: 0 !important;*/
/*}*/

html[dir='rtl'] #jazzy-usermenu {
    text-align: right;
}

html[dir='rtl'] .nav-sidebar .nav-link > .right, html[dir='rtl'] .nav-sidebar .nav-link > p > .right {
    left: 1rem !important;
    right: auto !important;
    transform: rotate(-180deg);
}

html[dir='ltr'] .nav-sidebar .nav-link > .right, html[dir='ltr'] .nav-sidebar .nav-link > p > .right {
    left: auto !important;
    right: 1rem !important;
    transform: rotate(0);
}

.nav-sidebar .menu-is-opening > .nav-link i.right, .nav-sidebar .menu-open > .nav-link i.right {
    -webkit-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
}

html[dir='rtl'] #jazzy-sidebar > div > nav > ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

html[dir='rtl'] body, html[dir='rtl'] .text-left {
    text-align: right !important;
}

html[dir='rtl'] .btn-group > .btn-group:not(:last-child) > .btn, html[dir='rtl'] .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 .25rem .25rem 0;
}

html[dir='rtl'] .btn-group > .btn-group:not(:first-child) > .btn, html[dir='rtl'] .btn-group > .btn:not(:first-child) {
    border-radius: .25rem 0 0 .25rem;
}

html[dir='rtl'] #jazzy-navbar > ul:nth-child(2) {
    margin-left: 0 !important;
    margin-right: auto !important;
}

.page-item .page-link {
    background: transparent !important;
}

.page-item.active .page-link {
    background: #007bff !important;
}
